# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Ambiente
.env
users_db.json

# IDE
.vscode/
.idea/
*.swp

# Streamlit
.streamlit/secrets.toml

# Logs
*.log
dashboard_audit.log