Options -Indexes
RewriteEngine On

# WebSocket connections
RewriteCond %{HTTP:Upgrade} =websocket [NC]
RewriteRule ^(.*)$ ws://127.0.0.1:8501/$1 [P,L]

# HTTP connections
RewriteCond %{HTTP:Upgrade} !=websocket [NC]
RewriteRule ^(.*)$ http://127.0.0.1:8501/$1 [P,L]

ProxyPassReverse / http://127.0.0.1:8501/
